<section id="home-description">
  <p>
    Use the Tutor For a Card function to search the entire database of Magic cards to search for a card whose name includes the search parameters. When finding a card you like, click on the name to read more and click the Add to Deck button to add to your cardlist.
  </p>
  <p>
    Access your current decklist by clicking on Research For a Library. Note: as of the current iteration of the site, attempting to add the same card more than once to the decklist causes the decklist to delete itself.
  </p>
</section>
<section>
  <footer id="home-footer">
    - Copyright by Stewart Atwood 2017 -
  </footer>
</section>
