a {
  text-decoration: none;
}
a:link {
  color: #fff;
}
a:visited {
  color: #fff;
}
a:hover {
  color: #a9a9a9;
}
.results-structure {
  display: flex;
  flex-direction: row;
}
.search-padding {
  margin-bottom: 200px;
}
#image-floater {
  padding-left: 10%;
  padding-top: 20px;
}
#borderized {
  border-radius: 11px;
}
#organized {
  margin-left: 5vw;
  transform: translateX(5vw);
  margin-right: 15vw;
}
#organized h3 {
  font-weight: normal;
}
#search-footer {
  text-align: center;
}
